* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('./Fonts/OpenSans-SemiBold.woff'),
        url('./Fonts/OpenSans-SemiBold.woff2');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('./Fonts/OpenSans-Regular.woff'),
        url('./Fonts/OpenSans-Regular.woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

:root {
    --body-color: hsl(0 20% 90%);
    --palce-holder-color: #888;
    --accordion-inner-text-color: #555;
    --paragraph-text-color: #999;
    --title-main-color: hsl(200, 43%, 59%);
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: var(--body-color);
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    margin: 40px 50px;
    text-decoration: none;
    color: var(--title-main-color);
    font-size: 1.5em;
}

.nav-lists {
    margin: 0 50px;
}

.nav-lists ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-lists ul li {
    list-style: none;
}

.nav-lists ul li a {
    text-decoration: none;
    padding: 1rem;
    font-family: 'OpenSans-Regular';
    font-size: 0.825em;
    color: var(--title-main-color);
    display: block;
}

.nav-lists li a:hover {
    color: whitesmoke;
}

.toggle-menu {
    position: absolute;
    top: 2.75rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 15px;
}

.toggle-menu .bar {
    height: 1.75px;
    width: 100%;
    background-color: var(--title-main-color);
    border-radius: 10px;
}

@media (max-width: 768px) {
    .toggle-menu {
        display: flex;
    }

    .nav-lists {
        display: none;
        width: 100%;
    }

    .nav-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-lists ul {
        width: 100%;
        flex-direction: column;
    }

    .nav-lists li {
        text-align: center;
    }

    .nav-lists.active {
        display: flex;
    }
}

/* Ending of Header */

/* Main body */
.Info-conatiner {
    position: relative;
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    overflow-x: hidden;
}

.Info-conatiner div {
    max-width: 1000px;
    padding: 25px 0px;
    height: auto;
    min-height: 250px;
    background-color: hsl(0, 0%, 10%);
    border: 1px solid var(--title-main-color);
    border-radius: 30px;
}

.Info-conatiner div h1 {
    text-align: center;
    color: var(--title-main-color);
    font-family: 'OpenSans-Regular';
    font-size: 1.75em;
}

.Info-conatiner div article {
    text-align: center;
    margin: 15px;
    padding: 20px;
    font-family: 'OpenSans-Regular';
    font-size: 0.9em;
    line-height: 1.6;
    color: hsl(0, 0%, 80%);
    word-break: normal;
    text-align: start;
}

.Info-conatiner div article::selection {
    color: var(--palce-holder-color);
}

.Info-conatiner .values .value-lists {
    list-style: none;
}

/* animation for the info containers */

.Info-conatiner .vision {
    position: relative;
    animation: vision;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes vision {
    0% {
        top: -600px;
    }

    100% {
        top: 0px;
    }
}

.Info-conatiner .mission {
    position: relative;
    animation: mission;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes mission {
    0% {
        right: 1000px;
    }

    100% {
        right: 0px;
    }
}

.Info-conatiner .values {
    position: relative;
    animation: values;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes values {
    0% {
        left: 5000px;
    }

    100% {
        left: 0px;
    }
}

/* Ending of Info section */

/* About us section */
.about-us {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */

}

.accordion-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 50px;
    /* border: 1px solid green; */
}

.main-accordion-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.about-us-header {
    text-align: center;
    font-family: 'OpenSans-SemiBold';
    font-size: 2em;
    color: whitesmoke;
    margin-bottom: 20px;
}

.accordion-container .tab .content ul li {
    list-style: none;
    color: var(--paragraph-text-color);
    font-size: 0.9em;
}

.accordion-container .tab .label h2 {
    font-family: 'OpenSans-Regular';
    font-size: 0.9em;
    color: var(--paragraph-text-color);
}

.accordion-container .tab {
    max-width: 1000px;
    position: relative;
    margin: 10px 20px;
}

.accordion-container .tab .label {
    position: relative;
    padding: 0 20px;
    height: 65px;
    border: 1px solid var(--title-main-color);
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.accordion-container .tab .label::before {
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}

.accordion-container .tab.active .label::before {
    content: '-';
}

.accordion-container .tab .content {
    position: relative;
    padding: 0px 20px;
    background-color: black;
    font-family: 'OpenSans-Regular';
    height: 0;
    overflow: hidden;
    transition: 1s;
    overflow-y: hidden;
}

.accordion-container .tab.active .content {
    height: auto;
    padding: 20px 20px;
    overflow-y: hidden;
}

/* Accordion ending*/
/* Registration Section */

.registaration-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.registaration-container h2 {
    text-align: center;
    font-family: 'OpenSans-Regular';
    font-size: 2em;
    margin-bottom: 15px;
}

.registaration-form .each-container {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-conatainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

/* Container layout ending */
.registaration-form input {
    height: 40px;
    background-color: #333;
    border-style: none;
    border-radius: 5px;
    outline: none;
    color: whitesmoke;
    font-size: 1em;
}

.registaration-form input::placeholder {
    padding-left: 8px;
    color: #888;
}

.registaration-form label {
    height: 30px;
    font-family: 'OpenSans-Regular';
    font-size: 1em;
    color: var(--palce-holder-color);
    margin-top: 5px;
}

.button-container button {
    height: 40px;
    width: 100px;
    margin-top: 5px;
    color: var(--palce-holder-color);
    background-color: #222;
    cursor: pointer;
    border-radius: 10px;
    border-style: none;
    outline: none;
}

.button-container button:hover {
    background-color: whitesmoke;
}

/* registaration-form-ended */

/* braking-line */
.braking-line {
    width: 100%;
    margin: 50px 20px;
    border-radius: 10px;
    height: 1px;
    background-color: var(--title-main-color);
}

/*  contact us container */
.contactus-section {
    display: flex;
    flex-direction: column;
}

.contact-us-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px;
    position: relative;
}

.contact-us-container p {
    color: var(--palce-holder-color);
    font-family: 'OpenSans-Regular';
    font-size: 0.9rem;
}

.contact-us-container .contact-us {
    font-size: 1.25rem;
}

.contact-us-container .home-button {
    color: var(--palce-holder-color);
    height: 40px;
    width: 100px;
    color: var(--palce-holder-color);
    cursor: pointer;
    border-radius: 1px;
    border-style: none;
}

.contact-us-container .home-section-button {
    position: absolute;
    top: 7rem;
    right: .75rem;
}

.contact-us-container .social-link {
    font-family: 'OpenSans-Regular';
}
.contact-us-container .social-link a {
    text-decoration: none;
    color: var(--palce-holder-color);
    transition: color 0.5s;
}
.contact-us-container .social-link a:hover {
    color: whitesmoke;
}

.home-button {
    background-color: #222;
    border-style: none;
    margin-bottom: 20px;
    color: whitesmoke;
    transition: background-color .7s, color .7s;
    padding: 10px;
}

.home-button a {
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
    display: block;
}

.home-button:hover {
    background-color: whitesmoke;
}

/* Media queries */
@media (max-width: 800px) {
    body {
        margin: 0;
        padding: 0;
    }

    .whole-body-container {
        margin: 0;
        padding: 0;
    }

    .Info-conatiner {
        width: auto;
        height: auto;
        padding: 0;
        gap: 10px;
    }

    .Info-conatiner div {
        width: auto;
        height: auto;
        margin: 10px 10px;
        position: relative;
    }

    .Info-conatiner div article {
        padding: 10px 5px;
    }

    /* info-conatainer-ended */
}

/* media queries for mobilePhones */
@media (max-width: 300px) {
    body {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .whole-body-container {
        margin: 0;
        padding: 0;
    }

    .Info-conatiner {
        width: auto;
        height: auto;
        padding: 0;
        gap: 10px;
    }

    .Info-conatiner div {
        width: auto;
        height: auto;
        margin: 10px 10px;
        position: relative;
    }

    .Info-conatiner div article {
        padding: 10px 5px;
        font-size: 0.8rem;
    }

    .Info-conatiner div article ul {
        padding: 10px 5px;
        line-height: 1.5;
        font-size: 0.7rem;
    }

    .Info-conatiner div article ul li {
        padding: 10px 5px;
        font-size: 0.7rem;
    }
}