* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Inter-Semi';
    src: url('./Fonts/Inter-SemiBold.woff'),
         url('./Fonts/Inter-SemiBold.woff2');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('./Fonts/OpenSans-Regular.woff'),
         url('./Fonts/OpenSans-Regular.woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
:root {
    --body-color: hsl(0 20% 90%);
    --palce-holder-color: #888;
    --accordion-inner-text-color: #555;
    --paragraph-text-color: #999;
    --big-font-size: 2.75rem;
    --medium-range-font:2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
    --smallest-font-size: 0.625rem;
    --title-main-color:hsl(200, 43%, 59%);
} 

body {
    margin:0;
    padding: 0;
    background-color: black;
    color: var(--body-color);
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items : center;
}

.nav-logo {
    margin: 50px 50px;
    font-weight: light;
    font-size: var(--big-font-size);
    text-decoration: none;
    color: var(--title-main-color);
}

.nav-lists {
    margin: 0 50px;
}

.nav-lists ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-lists ul li  {
    list-style: none;
}

.nav-lists ul li a {
    text-decoration: none;
    padding: 1rem;
    color: var(--title-main-color);
    display: block;
}

.nav-lists li a:hover {
    color: whitesmoke; 
}

.toggle-menu  {
    position: absolute;
    top: 4.2rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 20px;
}

.toggle-menu .bar {
    height: 3px;
    width: 100%;
    background-color: var(--title-main-color);
    border-radius: 10px;
}

@media (max-width: 768px) {
    .toggle-menu {
         display: flex;
    }
    .nav-lists {
         display: none ;
         width: 100%;
    }
    .nav-bar{
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-lists ul {
        width: 100%;
       flex-direction: column;         
    }
    .nav-lists li {
        text-align: center;
    } 
    .nav-lists.active {
        display: flex;
    }
}
/* Ending of Header */

/* Main body */
.Info-conatiner{
    position: relative;
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    overflow-x: hidden;
}

.Info-conatiner div {
    max-width: 1000px;
    height: auto;
    min-height: 300px;
    background-color: #444;
    border: 3px solid  var(--title-main-color);
    border-radius: 30px;
    box-shadow: 0 0 3px 0 var(--title-main-color);
}

.Info-conatiner div h1{
    text-align: center;
    color: var(--title-main-color);
    font-size: var(--medium-range-font);
}

.Info-conatiner div article {
    text-align: center;
    margin: 20px;
    padding: 20px;
    color: whitesmoke;
    font-size:var(--h3-font-size);
    word-break: normal;
    text-align: start;
}

.Info-conatiner div article::selection {
    color: var(--palce-holder-color);
}

.Info-conatiner .values .value-lists {
    list-style: none;
}
/* animation for the info containers */

.Info-conatiner .vision {
    position: relative;
    animation: vision;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
 @keyframes vision { 
    0% {
     top: -600px;
    }
    100% {
     top: 0px;
    }
} 

.Info-conatiner .mission {
     position: relative;
     animation: mission;
     animation-duration: 5s;
     animation-fill-mode: forwards;
}
@keyframes  mission {
     0% {
    right: 1000px;
    }
    100% {
        right: 0px;
    } 
}
.Info-conatiner .values {
    position: relative;
    animation: values;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
@keyframes values {
    0% {
        left: 5000px;
     }
     100% {
         left: 0px;
     }
}
/* Ending of Info section */

/* About us section */
.about-us {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
   
}
.accordion-container {
    max-width: 1000px;
    margin-bottom: 50px;
}
.main-accordion-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
} 
.about-us-header {
    margin-left: 50px;
    font-size: var(--big-font-size);
    font-weight: 400;
    color: whitesmoke;
}
.accordion-container .tab .content ul li {
    list-style: none;
    color:var(--paragraph-text-color);
    font-size: var(--h3-font-size);
}
.accordion-container .tab .label h2 {
    font-size: var(--normal-font-size);
    color: var(--paragraph-text-color);
}
.accordion-container .tab {
   max-width: 1000px;
   position: relative;
   margin: 10px 20px;
}
.accordion-container .tab .label {
    position: relative;
    padding: 5px;
    height: 65px;
    border: 3px solid var(--title-main-color);
    box-shadow: 0 0 3px 0 var(--title-main-color);
    border-radius: 70px;
    background-color:black;
    color: whitesmoke;
    font-size: var(--h3-font-size);
    cursor: pointer;
}
.accordion-container .tab .label::before {
    content: '+';
    position: absolute;
    top:50%;
    right:20px;
    transform: translateY(-50%);
    font-size: var(--big-font-size);
}
.accordion-container .tab.active .label::before {
    content:'-';
}
.accordion-container .tab .content   {
    position: relative;
    background-color:black;
    height: 0;
    overflow: hidden;
    transition: 0.7s;
    overflow-y: hidden;  
}
.accordion-container .tab.active .content {
    height: auto;
    padding: 5px;
    overflow-y: hidden;
}

/* Accordion is ended */
/* Registration Section */

.registaration-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
.registaration-container h2 {
    text-align: center;
    font-size: var(--medium-range-font);
    font-weight: 100;
}

.registaration-form .each-container{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-conatainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

/* Container layout ending */
.registaration-form input {
    height: 40px;
    background-color: black;
    border-style: none;
    outline: none;
    color: #888;
    font-size: var(--normal-font-size);
} 

.registaration-form input::placeholder {
    color: #888;
}

.registaration-form label {
    width: 75px;
    height: 30px;
    font-size: var(--normal-font-size);
    color:var(--palce-holder-color);
    text-align: center;
    margin-top: 5px;
    background-color: #222;
    border-radius: 10px;
}

.button-container button {
    height: 40px;
    width: 100px;
    color: var(--palce-holder-color);
    cursor: pointer;
    border-radius: 20px;
    border-style: none;
    outline: none;
}

.button-container button:hover {
    background-color: #222;
}

/* registaration-form-ended */
/* braking-line */
.braking-line {
    width: auto;
    margin: 50px 20px;
    border-radius: 20px;
}

/*  contact us container */
.contactus-section {
    display: flex;
    flex-direction: column;
}
.contact-us-container {
    margin: 30px;
    position: relative;
}
.contact-us-container p {
color: var(--palce-holder-color);
font-size:var(--normal-font-size);
}
.contact-us-container .contact-us {
font-size: var(--h1-font-size);
}
.contact-us-container  button {
    color: var(--palce-holder-color);
    height: 40px;
    width: 100px;
    color: var(--palce-holder-color);
    cursor: pointer;
    border-radius: 3px;
    border-style: none;
    outline: none;
}
.contact-us-container  button a {
    text-decoration: none;
    color: var(--palce-holder-color);

}
.contact-us-container .link-button:hover {
    background-color: #222;
}
.home-section-button {
    position: absolute;
    top: 5.25rem;
    right: .75rem;
}
.home-section-button button  {
    background-color: #222;
    border-style: none;
    outline: none;
}
.home-section-button button:hover {
    background-color: whitesmoke;
}
/* Media queries */
@media (max-width: 800px) {
    body {
        margin: 0;
        padding: 0;
    }
    .whole-body-container {
        margin: 0;
        padding: 0;
    }
    .Info-conatiner {
        width: auto;
        height: auto;
        padding: 0;
        gap: 10px;
    }
    .Info-conatiner div {
       width: auto;
       height: auto;
       margin: 10px 10px;
       position: relative;   
} 
    .Info-conatiner div article {
        padding: 10px 5px;
    }
    /* info-conatainer-ended */
}

/* media queries for mobilePhones */
@media (max-width: 300px) {
    body {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    .whole-body-container {
        margin: 0;
        padding: 0;
    }
    .Info-conatiner {
        width: auto;
        height: auto;
        padding: 0;
        gap: 10px;
    }
    .Info-conatiner div {
       width: auto;
       height: auto;
       margin: 10px 10px;
       position: relative;   
   } 
    .Info-conatiner div article {
        padding: 10px 5px;
        font-size: var(--small-font-size);
    }
        .Info-conatiner div article ul {
        padding: 10px 5px;
        font-size: var(--smaller-font-size);
    }
    .Info-conatiner div article ul  li {
        padding: 10px 5px;
        font-size: var(--smaller-font-size);
    }  
}
